<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dialogs</title>
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/app.min.css">
</head>

<body>
    <div class="wrapper">
        <!--=======================================================================================-->
        <header class="main-header main-header_fixed">
            <div class="main-header__container"><a class="main-header__logo" href="/"><img src="img/logo.svg" alt=""><span>by depot</span></a><a class="main-header__hum" href="#"><img src="img/icons/hum.svg" alt=""></a>
                <div class="main-header__menu"><a class="main-header__close" href="#"><svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.545959" y="20.546" width="29" height="2" rx="1" transform="rotate(-45 0.545959 20.546)" fill="#0068FF" />
                            <rect x="21.0521" y="21.9601" width="29" height="2" rx="1" transform="rotate(-135 21.0521 21.9601)" fill="#0068FF" />
                        </svg></a>
                    <ul class="main-header__nav">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Проекты</a></li>
                        <li class="main-header__nav-sub"><a href="#">Услуги</a>
                            <ul>
                                <li><a href="#">Брендинг</a></li>
                                <li><a href="#">Ребрендинг</a></li>
                                <li><a href="#">Дизайн упаковки</a></li>
                                <li><a href="#">Фирменный стиль</a></li>
                                <li><a href="#">Нейминг</a></li>
                                <li><a href="#">Брендбук</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Cотрудничество</a></li>
                    </ul><a class="def-btn main-header__create" href="#"><span>Создать бренд</span></a>
                </div>
            </div>
        </header>
        <!--=======================================================================================-->
        <div class="dialogs-sect"><a class="popup-with-zoom-anim" href="#thanks-dialog">Спасибо! Оплата прошла успешно.</a>
            <div class="thanks-dialog zoom-anim-dialog mfp-hide" id="thanks-dialog">
                <div class="thanks-dialog__container">
                    <div class="thanks-dialog__title">Спасибо!<br>Оплата прошла успешно.</div>
                    <div class="thanks-dialog__text">Вышлем на вашу почту стратегию в течение 12 часов.</div>
                    <button class="def-btn thanks-dialog__submit"><span>Спасибо</span></button>
                </div>
            </div><a class="popup-with-zoom-anim" href="#thanks-dialog2">Спасибо! В ближайшее время вам на почту пришлем договор.</a>
            <div class="thanks-dialog zoom-anim-dialog mfp-hide" id="thanks-dialog2">
                <div class="thanks-dialog__container">
                    <div class="thanks-dialog__title">Спасибо!<br>В ближайшее время вам на почту пришлем договор.</div>
                    <div class="thanks-dialog__text">После оплаты вы получите исследование вашего рынка, с учетом которого будет производиться дизайн.</div>
                    <button class="def-btn thanks-dialog__submit"><span>Спасибо</span></button>
                </div>
            </div><a class="popup-with-zoom-anim" href="#payment-dialog">ООО Аврора</a>
            <div class="payment-dialog zoom-anim-dialog mfp-hide" id="payment-dialog">
                <div class="payment-dialog__container">
                    <div class="payment-dialog__title">ООО "АВРОРА"</div>
                    <div class="payment-dialog__price"><span>99</span> ₽</div>
                    <div class="payment-dialog__items"><a class="payment-dialog__item" href="#">
                            <div class="payment-dialog__item-icon"><img src="img/icons/" alt=""></div>
                            <div class="payment-dialog__item-content">
                                <div class="payment-dialog__item-title">Bank card</div>
                                <div class="payment-dialog__item-text">Mastercard, Maestro, VISA, MIR</div>
                            </div>
                        </a><a class="payment-dialog__item" href="#">
                            <div class="payment-dialog__item-icon"><img src="img/icons/" alt=""></div>
                            <div class="payment-dialog__item-content">
                                <div class="payment-dialog__item-title">YooMoney</div>
                                <div class="payment-dialog__item-text">Wallet or link card</div>
                            </div>
                        </a><a class="payment-dialog__item" href="#">
                            <div class="payment-dialog__item-icon"><img src="img/icons/" alt=""></div>
                            <div class="payment-dialog__item-content">
                                <div class="payment-dialog__item-title">SberPay</div>
                                <div class="payment-dialog__item-text">Sberbank online pay</div>
                            </div>
                        </a></div><a class="def-btn payment-dialog__more" href="#"><span>More methods</span></a>
                    <div class="payment-dialog__footer"><a class="payment-dialog__back" href="#">Back to the store</a></div>
                </div>
            </div>
        </div>
        <!--=======================================================================================-->
        <div class="main-footer">
            <div class="main-footer__container">
                <div class="main-footer__logo"><a class="main-header__logo" href="/"><img src="img/footer-logo.svg" alt=""><span>by depot</span></a></div>
                <div class="main-footer__column main-footer__column_first">
                    <ul class="main-footer__soc">
                        <li><a href="#"><img src="img/icons/soc-1.svg" alt=""></a></li>
                        <li><a href="#"><img src="img/icons/soc-2.svg" alt=""></a></li>
                        <li><a href="#"><img src="img/icons/soc-3.svg" alt=""></a></li>
                    </ul>
                    <div class="main-footer__info">
                        <p>© brand hub, 2022</p>
                        <p>Оферта - <a href="#">скачиваение документа</a><br><a class="main-footer__info-link" href="#">Пользовательское соглашение</a><br><a class="main-footer__info-link" href="#">Политика обработки персональных данных</a></p>
                    </div>
                </div>
                <ul class="main-footer__nav">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Проекты</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                </ul>
                <ul class="main-footer__nav">
                    <li><a href="#">Брендинг</a></li>
                    <li><a href="#">Ребрендинг</a></li>
                    <li><a href="#">Дизайн упаковки</a></li>
                </ul>
                <ul class="main-footer__nav">
                    <li><a href="#">Фирменный стиль</a></li>
                    <li><a href="#">Нейминг</a></li>
                    <li><a href="#">Брендбук</a></li>
                </ul>
                <div class="main-footer__column">
                    <div class="main-footer__text">
                        <p><a href="tel:+74951060614"><span>+7 (495) 106-06-14</span></a></p>
                        <p><a href="email:we@brand-hub.ru">we@brand-hub.ru</a></p>
                        <p>Москва, <br>Пестовский пер 16 стр 2</p>
                    </div>
                </div>
            </div>
            <div class="main-footer__img"><img src="img/footer-logo.svg" alt=""></div>
        </div>
        <!--=======================================================================================-->
    </div>
    <div class="hidden">
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>
